<div id="content">
    
    <div id="labelContainer">
        <p>Your spaces:</p>
        <div data-ng-repeat="userSpace in userSpaces" class="userSpace">
            Space:{{userSpace.label.id}}<br>
            Space name: {{userSpace.label.name}}<br>
            <div data-ng-repeat="thread in userSpace.threads" class="userSpaceThread">
                Sender: {{thread.lastMsg.header.sender}}<br>
                Subject: {{thread.lastMsg.header.subject}}<br>
                Snippet: {{thread.lastMsg.msg.snippet}}<br>
                <br>
            </div>
        </div>
    </div>
    <br/>
    <hr>
</div>