body#webmail{
    color:#333;
    background:#fff;
    text-align:left;
    font-family: "Myriad Pro", Myriad;
    font-size:14px;
    padding-left:30px;
    padding-right:30px;
}
.row{
    margin-left:0;
    margin-right:0;
}
#logInfo{
    float:right;
    width:200px;
    border:none;
}
#spaceOverview{
    display:none;
}
#content{
    margin:0 auto;
    width:100%;
    height:900px;
}
#content span.labelDiv{
    border:1px solid #666;
    margin:0;
    padding:5px;
    margin-right:10px;
    background:#ff9977;
}
#content div.labelDivINBOX{
    border:1px solid #666;
    margin:0;
    padding:5px;
    margin-top:10px;
    background:#3399ff;
    width:200px;
}
#content div.headerDiv{
    border-bottom:1px dotted #eeeeee;
}
#content div.headerDiv p{
    margin:0;
    margin-top:5px;
}
#content div.headerDiv p label{
    font-weight:700;
}
#content div.messageDiv{
    margin-top:10px;
    margin-bottom:10px;
    border-bottom:1px solid #cccccc;
}
#content p.snippetDiv{
    background:#eee;
    padding-top:10px;
    padding-bottom:10px;
    margin:0;
}
.userSpace{
    padding-top:15px;
    padding-bottom:15px;
}
.spaceInOverview{
    padding:15px;
    cursor:pointer;
    min-height:200px;
}
.useSpace:after{
    clear:both;
}
.userSpace .spaceContainer{
    width:100%;
    min-height:200px;
    margin:0 auto;
}
.green{
    background: #60d7a9;
}
.orange{
    background: #fdc162;
}
.red{
    background: #fd6a62;
}
.purple{
    background: #f68dbb;
}
.blue{
    background: #7bb7fa;
}
.userSpaceThread{
    padding-top:5px;
    padding-bottom:5px;
    font-weight:100;
    cursor:pointer;  
}
.spaceName{
    color:#fff;
    font-weight:100;
    font-size:26px;
}
#compose{
    display:none;
    position:fixed;
    bottom:0;
    right:0;
    width:600px;
    height:500px;
    border:1px solid #ccc;
    background:#fff;
    padding:30px;
    padding-top:70px;
    padding-bottom:70px;
    z-index:1000;
}
#compose .composeHeader{
    height:50px;
    line-height:50px;
    padding-left:30px;
    background:#333;
    color:#fff;
    position:absolute;
    top:0;
    left:0;
    right:0;
}
#compose .formLabel{
    display:inline-block;
    width:70px;
}
#compose input[type="text"]{
    width:70%;
    height:20px;
}
#compose input[type="email"]{
    width:70%;
    height:20px;
}
#compose .spaceList{
    margin-right:10px;
}
#compose textarea{
    width:70%;
    height:200px;
}
#senderSpan{
    display:inline-block;
    width:300px;
}
#snippetSpan{
    color:#999999;  
}
#dateSpan{
   float:right;
}
.unreadThread #senderSpan{
    font-weight:700;
}
.unreadThread #subjectSpan{
    font-weight:700;
}
.unreadThread #dateSpan{
    font-weight:700;
}
.activeThread {
    background:rgba(240,240,240,0.2);
}
.emailBody{
    display:none;
    padding-top:20px;
    padding-bottom:20px;
}
#compose .composeFooter{
    height:40px;
    border-top:1px solid #ccc;
    background:#eee;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-left:30px;
}
#sendBtn{
    height:30px;
    background:#3399ff;
    border:1px solid #ccc;
    color:#fff;
    border-radius:2px;
    margin-top:5px;
    cursor:pointer;
}
#closeBtn{
    border:none;
    background:#333;
    color:#fff;
    position:absolute;right:30px;
    top:0;
    height:50px;
    cursor:pointer;
}
#replyBtn{
    border:none;
    text-decoration:underline;
    color:#3399ff;
    cursor:pointer;
    background:#fff;
    padding:0;
}
.addNewSpace{
    background:#ccc;
    padding:15px;
    min-height:200px;
}
.deleteSpace{
    background:none;
    border:none;
    position:absolute;
    right:20px;
    height:20px;
    top:160px;
    display:none;
}
.subSpaceDiv{
    min-height:50px;
    padding-top:15px;
    padding-left:15px;
    color:#fff;
    background-color:rgba(0,0,0,0.1);
    margin-right:5px;
}
.subSpaceDivCon{
    padding:0;
}

