body#webmail{
    color:#333;
    background:#fff;
    text-align:left;
    font-family: "Myriad Pro", Myriad;
    font-size:14px;
}
.menubar{
    padding-left:30px;
    padding-right:30px;
    padding-top:15px;
}
.row{
    margin-left:0;
    margin-right:0;
}
#logInfo{
    display:none;
}
.profileImg{
    border-radius:50% 50%;
    box-shadow:1px 1px 3px #ccc;
    float:right;
}
.logInfoDropdown{
    border:none;
    background:none;
    box-shadow:none;
    outline:0;
    display: table-cell;
    vertical-align:middle;
}
.logInfoDropdown:hover{
    border:none;
    background:none;
    box-shadow:none;
    outline:0;
}
.btn-group.logInfoDropdown.open{
    border:none;
    background:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    outline:0;
}
.inboxSpaces{
    padding-left:30px;
    padding-right:30px;
}
#spaceOverview{
    /*display:none;*/
    visibility:hidden;
    border:none;
    background:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    outline:0;
}
#composeBtn{
/*    display:none;*/
    visibility:hidden;
    border:none;
    width:30px;
    height:30px;
    line-height:30px;
    border-radius:50% 50%;
    background-color:#fff;
    float:right;
}
#composeBtn span{
    height:30px;
    width:30px;
    line-height:30px;
}
#content{
    margin:0 auto;
    width:100%;
    height:1000px;
}
#content span.labelDiv{
    border:1px solid #666;
    margin:0;
    padding:5px;
    margin-right:10px;
    background:#ff9977;
}
#content div.labelDivINBOX{
    border:1px solid #666;
    margin:0;
    padding:5px;
    margin-top:10px;
    background:#3399ff;
    width:200px;
}
#content div.headerDiv{
    border-bottom:1px dotted #eeeeee;
}
#content div.headerDiv p{
    margin:0;
    margin-top:5px;
}
#content div.headerDiv p label{
    font-weight:700;
}
#content div.messageDiv{
    margin-top:10px;
    margin-bottom:10px;
    border-bottom:1px solid #cccccc;
}
#content p.snippetDiv{
    background:#eee;
    padding-top:10px;
    padding-bottom:10px;
    margin:0;
}
.userSpace{
    padding-top:15px;
    padding-bottom:15px;
}
.spaceInOverview{
    padding:15px;
    cursor:pointer;
    min-height:200px;
}
.useSpace:after{
    clear:both;
}
.userSpace .spaceContainer{
    width:100%;
    min-height:200px;
    padding:1%;
    padding-top:0;
    padding-bottom:0;
    height:100%;
    overflow-y:auto;
}
.green{
    background: #60d7a9;
}
.orange{
    background: #fdc162;
}
.red{
    background: #fd6a62;
}
.purple{
    background: #f68dbb;
}
.blue{
    background: #7bb7fa;
}
.threadsDiv{
    border-right:1px solid #000;
    height:100%;
}
.messagesDiv{
    border-right:1px solid #000;
    height:100%;
}
.threadBlock{
    margin-top:10px;
    margin-bottom:10px;
    border-bottom:1px solid #000;
    cursor:pointer;
    padding:3%;
}
.userSpaceThread{
    padding-top:5px;
    padding-bottom:5px;
    font-weight:100;
}
.threadHeader{
    cursor:pointer; 
    height:50px;
    line-height:50px;
    font-size:19px;
}
.spaceContainer .userSpaceThread{
    background:rgba(255,255,255,1);
    padding:3%;
    box-shadow: 5px 5px 5px rgba(200,200,200,0.5);
    margin-bottom:15px;
    border-radius:1px;
}
.spaceName{
    color:#fff;
    font-weight:100;
    font-size:26px;
}
.sideBar .spaceName{
    font-size:19px;
    font-weight:lighter;
}
#compose{
    display:none;
    position:fixed;
    bottom:0;
    right:0;
    width:600px;
    height:500px;
    border:1px solid #ccc;
    background:#fff;
    padding:30px;
    padding-top:70px;
    padding-bottom:70px;
    z-index:1000;
}
#compose .composeHeader{
    height:50px;
    line-height:50px;
    padding-left:30px;
    background:#333;
    color:#fff;
    position:absolute;
    top:0;
    left:0;
    right:0;
}
#compose .formLabel{
    display:inline-block;
    width:70px;
}
#compose input[type="text"]{
    width:70%;
    height:20px;
}
#compose input[type="email"]{
    width:70%;
    height:20px;
}
#compose .spaceList{
    margin-right:10px;
}
#compose textarea{
    width:70%;
    height:200px;
}
#senderSpan{
    display:inline-block;
    width:300px;
}
#snippetSpan{
    color:#999999;  
}
#dateSpan{
   float:right;
}
.unreadThread #senderSpan{
    font-weight:700;
}
.unreadThread #subjectSpan{
    font-weight:700;
}
.unreadThread #dateSpan{
    font-weight:700;
}
.activeThread {
    background:rgba(255,255,255,0.3);
}
.emailBody{
/*    display:none;*/
    margin-bottom:10px;
    border-radius:1px;
    background:#fff;
    padding:5%;
}
.emailThreadBody{
   display:none;
}

.replyDiv{
    background:#fff;
    margin-top:10px;
    display:none;
}
.replyDiv textarea{
    background:#fff;
    border-radius:0;
    border:none;
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
    height:50px;
    display:block;
    padding:6px 0px;
}
textarea:focus{
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
compose{
    height:40px;
    border-top:1px solid #ccc;
    background:#eee;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-left:30px;
}
#sendBtn{
    height:30px;
    background:#3399ff;
    border:1px solid #ccc;
    color:#fff;
    border-radius:2px;
    margin-top:5px;
    cursor:pointer;
}
#closeBtn{
    border:none;
    background:#333;
    color:#fff;
    position:absolute;right:30px;
    top:0;
    height:50px;
    cursor:pointer;
}
#replyBtn{
    cursor:pointer;
}
.addNewSpace{
    padding:15px;
    min-height:200px;
}
.deleteSpace{
    background:none;
    border:none;
    position:absolute;
    right:20px;
    height:20px;
    top:160px;
    display:none;
}
.subSpaceDiv{
    min-height:50px;
    padding-top:15px;
    padding-left:15px;
    padding-bottom:0px;
    padding-right:0px;
    color:#fff;
/*    background-color:rgba(0,0,0,0.1);*/
    margin-right:5px;
}
.subSpaceDivCon{
    padding:0;
}
/*
#spaceSetting{
    float:right;
}
*/
#spaceSettingDiv{
    overflow-y:scroll;
    padding-top:30px;
    padding-bottom:50px;
}
.spaceSettingDiv{
    min-height:100px;
    margin-bottom:10px;
}
.control-label{
    font-weight:200;
}
.spaceSettingDiv .spaceName{
    font-size:19px;
    font-weight:bold;
}

.greenFont{
    color: #60d7a9;
}
.orangeFont{
    color: #fdc162;
}
.redFont{
    color: #fd6a62;
}
.purpleFont{
    color: #f68dbb;
}
.blueFont{
    color: #7bb7fa;
}
.saveSetting{
    float:right;
}
.sideBar{
    width:12%;
    background:rgba(0,0,0,0.3);
    height:100%;
    position:absolute;
    right:0;
    top:0;
    padding:2%;
    line-height:20px;
    color:#ffffff;
    font-size:14px;
}
textarea {
   resize: none;
}
.iconBtn{
    background:none;
    border:none;
    border-radius:none;
    box-shadow:none;
}
.iconBtn:hover{
    background:none;
    border:none;
}
.spaceGroup{
    background-color:rgba(170,170,170,0.3);
    min-height:200px;
    padding:15px;
}

