<span class="btn-group btn-group" style="float:right;">
    <button class="logInfoDropdown" data-toggle="dropdown" aria-expanded="true">
    <span id="replyBtn" class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><a href="#" ng-click="openPreview(userSpace)">Preview</a></li>
      <li><a href="#" ng-click="toggleAttach(userSpace)">Toggle Attachment</a></li>
  </ul>
</span>
<div class="toggledDiv">
<div style="clear:both"><hr></div>
    <div class="row">
    
    
<div data-ng-repeat="thread in userSpace.threads track by $index" class="attchRow"> 
    <div data-ng-repeat="message in thread.messages track by $index"> 
         <div ng-if="message.attachments.length" >
            <div data-ng-repeat="attch in message.attachments track by $index" class="col-md-6 attch-col">
                <div class="btn-group">
                <button class="logInfoDropdown" data-toggle="dropdown" aria-expanded="true">
                    <img ng-if="attch.split('.')[1]=='pdf'" src="images/pdf-icon.png" class="attchicon-xs" alt="PDF file">
                    <img ng-if="attch.split('.')[1]=='jpg'" src="attachments/{{attch}}" class="attchicon-xs" alt="{{attch}}">
                </button>
                <div class="dropdown-menu dropdown-menu-right attchContainer row" role="menu">
                    <div class="row">
                        <div class="col-md-5">
                            <img ng-if="attch.split('.')[1]=='pdf'" src="images/pdf-icon.png" class="attchicon-md" alt="PDF file">
                            <img ng-if="attch.split('.')[1]=='jpg'" src="attachments/{{attch}}" class="attchicon-md" alt="{{attch}}">
                        </div>
                        <div class="col-md-7">
                            <div class="sender">
                                <b>{{attch}}</b><br>
                                <span ng-click="openPreviewFile(userSpace,attch)" style="cursor:pointer"><u>Preview</u></span><br>
                                From:&nbsp;{{findName(message.msg.from)}}<br>
                                On:&nbsp;{{message.date}}<br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                        <hr>
                        <div><em>Subject:&nbsp;{{message.msg.subject}}</em></div>
                        <div ng-bind-html="message.body | sanitize" class="attchContext"></div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="caption"><p title="{{attch}}">{{attch}}</p></div>
             </div>
        </div>
    </div>
</div>
        </div>
</div>
