<div id="compose">
    <div class="composeHeader">
        <span>{{email.subject}}</span>
        <button ng-click="close()" id="closeBtn">&#x2613;</button>
    </div>
    <form novalidate>
        
        <span class="formLabel">To:</span><input type="text" ng-model="email.to"><br><br>
        <span ng-if="connectedFairy.connected">Connected! Messsage will be sent to {{connectedFairy.space.name}}<br><br></span>
        <div ng-if="!connectedFairy.connected && ownerOfActiveSpace">
            
            <input type="checkbox" ng-model="fairySelected" ng-change="updateFairySelected(fairySelected)">Send Space Fairy</input>
                &nbsp;&nbsp;<input type="checkbox" ng-if="activeSpace.group!==-1" ng-model="groupSelected" ng-change="applyChangeGS(groupSelected)"><span ng-if="activeSpace.group!==-1">Send Group</span></input>
            <br><br>
        </div>
        <div ng-if="!fairySelected">
            <span>To a public space OR type in a space name</span>
            <input type="text" ng-model="email.space" ng-value="space.name" style="width:150px" placeholder="Type in a space name"></input>
            <br><br>
        </div>
        <span class="formLabel">Subject:</span><input type="text" ng-model="email.subject"><br><br>
        <span class="formLabel"></span><textarea ng-model="email.body"></textarea><br>
        <br>
        <div data-ng-repeat="attachedFile in email.attached track by $index">
            <span class="glyphicon glyphicon-picture" ng-if="attachedFile.split('.')[1]=='jpg'"></span>
            <span class="glyphicon glyphicon-file" ng-if="attachedFile.split('.')[1]=='pdf'"></span>
            &nbsp;{{attachedFile}}&nbsp;&nbsp;<button type="button" style="color:#666;" class="btn btn-sm iconBtn" ng-click="removeAttached(attachedFile)">
      x
    </button><br>
        </div>
        <div class="composeFooter">
            <button ng-click="sendMsg()" id="sendBtn">SEND</button> &nbsp;
            <span class="btn btn-lg btn-file">
            <span class="glyphicon glyphicon-paperclip"></span> <input type="file" multiple onchange="angular.element(this).scope().emailAttachChanged(this)">
        </span>
        </div>
     </form>
</div>