
<div id="content">
    
    <div id="labelContainer" class="pt-perspective row">
        <div class="pt-page pt-page-1 inboxSpaces">
            <div space-overview data-ng-repeat="userSpace in userSpaces track by $index" class="spaceInOverview col-md-3 userSpace_{{$index}}" data-pageNo={{$index+1}} ng-class="{'green': $index%5==0,'orange':$index%5==1,'red':$index%5==2,'purple':$index%5==3, 'blue':$index%5==4,'fairyRequest':userSpace.type=='request'}" ng-if="userSpace.space.group==-1" jqyoui-draggable="{index: {{$index}},onStart:'spaceDragged(userSpace,$index)', onStop:'spaceDragStop(userSpace,$index)',animate:true,placeholder:false}" data-drag = "true">
               
               <div class="userSpaceThread">
                   <span class="spaceName">{{userSpace.space.name}}</span>&nbsp;
                   <span ng-class="{'ng-hide':userSpace.unreadMsgNo==0}">({{userSpace.unreadMsgNo}})</span>
               </div>
               <button ng-click="createNewSpace(userSpace.space,$event)" ng-class="{'ng-hide':userSpace.type=='normal'}" class="btn btn-xs btn-warning">New Space</button>&nbsp;&nbsp;<button ng-click="mapSpace(userSpace);$event.stopPropagation();" ng-class="{'ng-hide':userSpace.type=='normal'}" class="btn btn-xs btn-warning">Map Space</button>&nbsp;&nbsp;<button ng-click="" ng-class="{'ng-hide':userSpace.type=='normal'}" class="btn btn-xs btn-warning">Ignore</button>
                <button class="glyphicon glyphicon-trash deleteSpace" data-spacename="{{userSpace.space.name}}" ng-class="{'ng-hide':userSpace.type=='request'}"></button>
                <button class="glyphicon glyphicon-trash deleteSpace" data-spacename="{{userSpace.space.name}}" ng-class="{'ng-hide':userSpace.type=='request'}"></button>
            </div>
            <div data-ng-repeat="group in groups track by $index" class="col-md-3 spaceGroup" data-drop="true" jqyoui-droppable="{index: {{$index}},onDrop:'addToGroup(group)', multiple:true, onOut:'removeFromGroup(group)'}" >
                <span class="spaceName">{{group.name}}</span>
                <div class="row">
                    <div data-ng-repeat="userSpace in userSpaces track by $index" class="col-md-4 subSpaceDivCon"  ng-if="belongsToGroup(userSpace,group)">
                        <div space-overview class="spaceInOverview subSpaceDiv" ng-class="{'green': $index%5==0,'orange':$index%5==1,'red':$index%5==2,'purple':$index%5==3, 'blue':$index%5==4,'fairyRequest':userSpace.type=='request'}" data-pageNo={{$index+1}} jqyoui-draggable="{index: {{$index}},onStart:'spaceDragged(userSpace,$index)',onStop:'spaceDragStop(userSpace,$index)',animate:true,placeholder:false}" data-drag = "true">{{userSpace.space.name}}</div>
                        
                    </div>
                </div> 
                <div ng-class="{'ng-hide':group.type=='normal'}">
                    <br><br>
                <button class="btn btn-xs btn-warning" ng-click="createNewGroup(group,$event)">New Group</button>&nbsp;&nbsp;
                <button class="btn btn-xs btn-warning" ng-click="mapToGroup(group,$event)">Map Group</button>
                </div>
                
            </div>
        </div>
         
        <div data-ng-repeat="userSpace in userSpaces track by $index" class="userSpace pt-page userSpace_{{$index}} pt-page-{{$index+2}}" ng-class="{'green': $index%5==0,'orange':$index%5==1,'red':$index%5==2,'purple':$index%5==3, 'blue':$index%5==4}">
            <div class="spaceContainer row">
                
            <div class='col-md-3 threadsDiv' data-ng-include="'template/threads.html'"></div>
            <div class='col-md-6 messagesDiv' data-ng-include="'template/messages.html'"></div>
            <div class='col-md-3 attachmentsDiv' data-ng-include="'template/attachments.html'"></div>
           <!-- <div data-ng-include="'template/ori.html'"></div>-->
                
            </div>
            <!--<div class="sideBar">
                <span class="spaceName">{{userSpace.space.name}}</span><hr>
                Expired on <br> {{userSpace.space.expiryDate}}<hr>
                Attachments<hr>
                Connections<hr>
                Actions
            </div>-->
        </div>
        <div class="pt-page pt-page-{{userSpaces.length+1}}" data-pageno="{{userSpaces.length+1}}" id="spaceSettingDiv">
        <button class="btn btn-warning saveSetting" save-setting>Save Change</button>
            <div data-ng-repeat="userSpace in userSpaces track by $index"  class="spaceSettingDiv">
                <form class="form-horizontal">
                    <div class="form-group form-group-xs">
                        <label class="spaceName col-sm-2 control-label" ng-class="{'greenFont': $index%5==0,'orangeFont':$index%5==1,'redFont':$index%5==2,'purpleFont':$index%5==3, 'blueFont':$index%5==4}">{{userSpace.space.name}} </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="Type in a new name"></input>
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-sm-2 control-label">Expiry Date: </label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control input-sm expiryDate" id='expiryDate{{$index}}' expirydate-setting value="{{userSpace.space.expiryDate}}">
                        </div>
                    </div>
                    <div class="form-group form-group-xs">
                        <label class="col-sm-2 control-label">Connections: </label>
                        <div class="col-sm-10">
                            <div class="checkbox" data-ng-repeat = "fairy in userSpace.space.fairyId track by $index">
                                <label>
                                    <input type="checkbox"> {{fairy}}
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
        <hr>
            </div>
        <button class="btn btn-warning saveSetting" save-setting>Save Change</button>
        </div>
    </div>
   <img id="attachmentId">
    <input type="number" id="activeSpaceIndex"  ng-model="activeSpaceIndex" class="ng-hide"/> 
</div>

