<div data-ng-repeat="thread in userSpace.threads"> 

    <div class="emailThreadBody" id="{{'emailThreadBody_'+userSpace.space.uniqId+'_'+$index}}">
        <div data-ng-repeat="message in thread.messages track by $index" id="{{'emailMessage_'+thread.lastMsg.msg.threadId+'_'+$index}}" ng-class="message.messageStatus == 'UNREAD' ? 'unreadThread' : ''">
            <div  class="emailBody row">
                <div class="col-md-1 profileInsideMsgCon" >
                    <img ng-src="{{findProfile('sm','50', message.msg.from)}}" class="profileInsideMsg">
                </div>
                <div class="col-md-11 emailBodyContent">
                    <span id="senderSpan">{{findName(message.msg.from)}}</span>
                    
                     <span class="btn-group">
                        <button class="logInfoDropdown" data-toggle="dropdown" aria-expanded="true">
                        <span class="caret" style="opacity:0.3"></span>
                        </button>
                      <ul class="dropdown-menu dropdown-menu-left" role="menu">
                        <li><a href="#"><b>From: </b>{{findName(message.msg.from)}}&nbsp;{{'<'+message.msg.from+'>'}}</a></li>
                        <li><a href="#"><b>To: </b>{{findName(message.msg.to)}}&nbsp;{{'<'+message.msg.to+'>'}}</a></li>
                      </ul>
                    </span> 
                    <span class="btn-group" style="float:right;">
                        <button class="logInfoDropdown" data-toggle="dropdown" aria-expanded="true">
                        <span id="replyBtn" class="glyphicon glyphicon-option-vertical"></span>
                        </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
<!--                        <li><a href="#" ng-click="showEmailDetail()">Show detail</a></li>-->
                        <li><a href="#" ng-click="replyClicked(thread.lastMsg.msg.threadId,$index,message)">Reply</a></li>
                      </ul>
                    </span> 
                    
                    <span class="btn-group dateSpan" style="float:right">
                        <button class="logInfoDropdown" data-toggle="dropdown" aria-expanded="true">
                        <span ng-if="message.attachments.length" class="glyphicon glyphicon-paperclip"></span>&nbsp;&nbsp;
                        {{message.date}}&nbsp;&nbsp;
                        </button>
                    </span>
                    <br>
                    <div ng-bind-html="message.body | sanitize" class="bodyDiv"></div>
   
                    <div ng-if="message.attachments.length" class="row">
                        <hr>
                        <div data-ng-repeat="attch in message.attachments track by $index" class="col-md-4" ng-click="openPreviewFile(userSpace,attch)" style="cursor:pointer;padding-left:0">
                            <div>
                             <img ng-if="attch.split('.')[1]=='pdf'" src="images/pdf-icon.png" class="attchicon-xs" alt="PDF file">
                             <img ng-if="attch.split('.')[1]=='jpg'" src="attachments/{{attch}}" class="attchicon-xs" alt="{{attch}}">
                            </div>
                          <div class="caption">
                             <p title="{{attch}}">{{attch}}</p>
                            <!-- <p>
                                <a href="#" class="btn btn-primary" role="button">
                                   Button
                                </a> 
                                <a href="#" class="btn btn-default" role="button">
                                   Button
                                </a>
                             </p>-->
                          </div>
                       
                        </div>
                    </div>
                </div> 
            </div>
            <div class="emailBody row replyMini" ng-if="$last">
                <div class="col-md-1">
                    <img ng-src="{{findProfile('sm','50', activeUser)}}" class="profileInsideMsg">
                </div>
                 <div class="col-md-11 emailBodyContent">
                    <span ng-click="replyClicked(thread.lastMsg.msg.threadId,$index,message)">Reply</span>
                 </div>
                
            </div>
             <div class="replyDiv row" id="{{'emailBody_'+thread.lastMsg.msg.threadId+'_'+$index}}">
                <div class="col-md-1">
                    <img ng-src="{{findProfile('sm','50', activeUser)}}" class="profileInsideMsg">
                </div>
                 <div class="col-md-11 emailBodyContent">
                     To: {{findName(message.msg.from)}}&nbsp;{{'<'+message.msg.from+'>'}}<br>
                    <textarea id='replyText{{$index}}' placeholder="Reply" ng-model="email.body"></textarea><br>
                     <div data-ng-repeat="attachedFile in email.attached track by $index">
            <span class="glyphicon glyphicon-picture" ng-if="attachedFile.split('.')[1]=='jpg'"></span>
            <span class="glyphicon glyphicon-file" ng-if="attachedFile.split('.')[1]=='pdf'"></span>
            &nbsp;{{attachedFile}}&nbsp;&nbsp;<button type="button" style="color:#666;" class="btn btn-sm iconBtn" ng-click="removeAttached(attachedFile)">
      x
    </button><br>
        </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            
                            
                            <button type="submit" class="replyBtn" ng-click="replyMsg(thread,$index,userSpace.space.name)">Send</button>
                            <button type="submit" class="replyBtn cancelReplyBtn" ng-click="cancelReply(thread.lastMsg.msg.threadId,$index,message)">Cancel</button>&nbsp;&nbsp;&nbsp;
                            <span class="btn-file" style="float:right;margin-right:10px">
                                <span class="glyphicon glyphicon-paperclip"></span> <input type="file" multiple onchange="angular.element(this).scope().emailAttachChanged(this)">
                            </span>
                                
                        </div>
                    </form>
                 </div>
                
            </div>
         </div>
        
    </div>
</div>